body {
    /* ## Colors

    ### Primary */

    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    /* ### Neutral */

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header button {
    border: 1px solid var(--light-pink);
    border-radius: 30px;
    background-color: white;
    color: var(--light-pink);
    padding: .2rem .7rem;
}

main {
    padding: 1rem 0;
    text-align: center;
}

section#intro {
    padding: 0 2rem;
}

section#intro h1 {
    margin-bottom: 1.5rem   ;
}

section#intro p {
    margin-bottom: 2rem;
    font-size: .875rem;
}

section#ready button,
section#intro button {
    border: 1px solid var(--light-pink);
    border-radius: 30px;
    background-color: var(--pink);
    color: var(--very-pale-blue);
    padding: .7rem 2.3rem;
    font-weight: 600;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

main .mockups {
    width: 90%;
    margin-top: 5rem;
}

section#numbers {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

section#numbers h2{
    font-size: 3rem;
}

section#numbers p {
    color: gray;
}

.number-card:nth-child(1) img {
    width: 30px;
    height: 25px;
}

.number-card:nth-child(2) img{
    width: 20px;
    height: 15px;
}

.number-card .card-heading {
    width: fit-content;
    margin-inline: auto;
    text-align: left;
}

section#features {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

section#features img {
    width: 100%;
}


.feature-card:nth-child(1) .top-wave {
    display: block;
    height: 98px;
    background: url(./images/bg-section-top-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: cover
    ;
}

.feature-card:nth-child(1) .bottom-wave {
    display: block;
    height: 98px;
    background: url(./images/bg-section-bottom-mobile-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-card:nth-child(1) .inner-card {
    background-color: var(--very-pale-blue);
    padding: 4rem 3rem 2rem 3rem;
}

.feature-card:nth-child(2) {
    padding: 0 2rem;
}

.feature-card:nth-child(3) .top-wave {
    display: block;
    height: 98px;
    background: url(./images/bg-section-top-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-card:nth-child(3) .bottom-wave {
    display: block;
    height: 98px;
    background: url(./images/bg-section-bottom-mobile-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-card:nth-child(3) .inner-card {
    background-color: var(--very-pale-blue);
    padding: 1rem 3rem 5rem 3rem;
}

section#ready {
    margin: 4rem 0 11rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

section#ready button {
    width: 60%;
}

footer .footer-wave {
    background: url(./images/bg-footer-top-mobile.svg);
    display: block;
    height: 53px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .inner-footer {
    background-color: var(--very-dark-cyan);
    color: white;
    padding: 1rem 1.5rem 2.5rem;
}

.inner-footer .newsletter h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.inner-footer .newsletter {
    margin-bottom: 5rem;
}

.inner-footer .newsletter p {
    margin-bottom: 2rem;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter form input {
    border: none;
    border-radius: 10px;
    padding: 1rem 1rem;
}

.newsletter form button {
    border: none;
    border-radius: 10px;
    padding: 1rem 1rem;
    background-color: var(--pink);
    color: white;
    font-weight: 600;
    width: 45%;
    align-self: flex-end;
}

footer .logo p {
    margin-top: .41rem;
    font-size: .875rem;
}

footer .email-phone {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: .875rem;
}

footer .email-phone div{
    display: flex;
    gap: 1rem;
}

footer .social-networks {
    margin-top: 3.5rem;
    display: flex;
    gap: 1.2rem;
    color: white;
}

footer .social-networks a i {
    font-size: 25px;
    color: white;
}